html, body {
    /* font-family: Arial, sans-serif; */
    background: linear-gradient(to right, #1a2151, #0c0f2b);
    /* background-repeat:inherit; */
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

h1 {
    color: #ffffff; /* Dark gray text */
    text-align: center;
}

header{
    background-color: rgb(255, 255, 255);
    height: 50px;
    padding-top: 25px;
    display: flex;
    
}
nav{
    margin-left: 15%;
    
}

.nav_title{
    color: #214761;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 30px;
}
.nav_button{
    background-color: white;
    height: 33px;
    border-radius: 5px;
    margin-left: 20px;
    border-color: white;
    cursor: pointer;
    border: 2px;
    font-size: 20px;
    padding: 0px 17px;
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

.nav_button:hover{
    background-color: rgb(234, 234, 234);
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
    border-radius: 15px;
    /* color: white; */
}

form {
    background-color: #ffffff7c; /* White background for form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
    max-width: 400px;
    margin: 20px auto;
}

label {
    font-weight: bold;
    color: #222; /* Dark gray text */
}

input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px;
    box-sizing: border-box;
}

.add_btn {
    background-color: #214761; /* Navy blue button */
    /* color: #ffd700;  */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add_btn:hover {
    background-color: #0e2a47; /* Darker navy blue on hover */
    color: #ffd700;
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
}

a {
    color: #214761; /* Navy blue link color */
    text-decoration: none;
    display: inline-block;
    /* margin-top: 10px; */
}

.tagline {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.started_btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #fff; /* Blue button color */
    color: #1a759f; /* White text color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.started_btn:hover {
    background-color: #155d80; /* Darker blue on hover */
    color: white;
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
}
.home_container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* White text color */
}
.home_heading{
    font-size: 3em;
    font-weight: bold;
}

.predict_box{
    background-color: #ffffffff; /* White background for form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
    max-width: 50%;
    height: 160px;
    margin: 20px auto;
    color: black;
}

.avg_box{
    background-color: #ffffffff; /* White background for form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 50%;
    height: 70%;
    margin: 20px auto;
    color: black;
}
.pr_h{
    color: black;
}
.pr_p{
    text-align: center; 
    font-size: 25px;
}

.avg_table {
    width: 50%;
    border-collapse: collapse;
}

.avg_table th,
.avg_table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

.avg_table th {
    background-color: #f2f2f2;
    color: #0e2a47;
}

.avg_table tr:nth-child(even) {
    background-color: #f2f2f2;
}
/* container which contains income, expense and total balance box */
.container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
/* the boxes income, expenses and balance individually */
.box {
    /* width: calc(33.33% - 10px); */
    width: 20%;
    background-color: #fff;
    color: #0e2a47;
    padding: 10px;
    /* border: 1px solid #000; */

    border-radius: 3px;;
    box-sizing: border-box;
    text-align: center;
}

.expenses{
    color: red;
}

.income{
    color: green;
}
.t_balance{
    color: black;
}

.trans_box{
    background-color: #ffffffff; /* White background for form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 60%;
    height: 70%;
    margin: 20px auto;
    color: black;
    /* padding: 20px 0px; */
    padding-top: 50px;
}

.trans_table{
    width: 70%;
    
}

.stat_main{
    display: flex;
}
.buttons_container{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.stat_btn{
    padding: 20px;
    border-radius: 3px;
    border: 0px;
    margin: 15px;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: "Signika", sans-serif;
    cursor: pointer;
}
.stat_btn:hover{
    /* padding: 25px;
    font-size: 25px; */
    transform: scale(1.1,1.1);
    transition-duration: 0.5s;
}

/* .stat_graph{
    background-color: #fff;
    width: 40%;
    height: 60%;
    margin-left: 5%;
    border-radius: 3px;
    margin-top: 3%;
} */

.alert {
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid red;
    color: red;
    width: fit-content;
  }

/* .plot_img{
    height:60%;
    width: 80%;
} */