<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Expense Dashboard</h1>
    <div id="dashboard-plot"></div>
    <script>
        // // Parse the JSON string from the Flask backend
        // var graphJSON = { graphJSON };

        // // Load the Plotly graph into the specified div
        // Plotly.newPlot('plotly-graph', graphJSON);
    </script>
    <a href="/">Go Back</a>
</body>
</html>
