<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Manager - Home</title>
    <link rel="stylesheet" href="static\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@300..700&display=swap" rel="stylesheet">

    <style>
        body{
            background-image: url('https://imgs.search.brave.com/jnbhopF701KRiLwG008yVV107nTkkRb8w3n1XmOnyZc/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS85NC85/NC9BQ1F0eUIuanBn'); 
            background-size: cover;
            background-repeat: no-repeat;
        }
        
    </style>
</head>
<body>
    <header>
        <h3 class="nav_title">Your Finance Manager</h3>
        <nav>
            <button class="nav_button" method=""><a href="">Home</a></button>
            <button class="nav_button" method="/index"><a href="/index">Add Transaction</a></button>
            <button class="nav_button" method="/transactions_this_month"><a href="/transactions_this_month">Dashboard</a></button>
            <button class="nav_button" method="/statistics"><a href="/statistics">Statistics</a></button>
            <button class="nav_button" method="/predict_expense"><a href="/predict_expense">Predict Expenses</a></button>
            <button class="nav_button" method="/tools"><a href="/tools">Tools</a></button>
            <button class="nav_button" method="/logout"><a href="/logout">Logout</a></button>
        </nav>
        
    </header>
    <br>
    <div class="home_container">
        <h1 class="home_heading">Welcome {{ user.username.upper() }}, <br> to your finance manager</h1>
        <p class="tagline">Manage your finances smartly with your personal finance manager</p>
        <br>
        <a href="/index" class="started_btn">Get Started</a>
    </div>
</body>
</html>
