<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get started</title>
    <link rel="stylesheet" href="static\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h3 class="nav_title">Your Finance Manager</h3>
        <nav>
            <button class="nav_button_one" method="/about"><a href="/about">About the app</a></button>
        </nav>
    </header>
    <br>
    <div class="home_container">
        <h1 class="home_heading">One step away</h1>
        <p class="tagline">Manage your finance smartly with us</p>
        <br>
        <a href="/login" class="started_btn">Login</a> &nbsp;
        <a href="/register" class="started_btn">Signup</a>
    </div>
</body>
</html>