<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" href="static\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <button class="nav_button" method="/"><a href="/">Home</a></button>
            <button class="nav_button" method="/index"><a href="/index">Add Transaction</a></button>
            <button class="nav_button" method="/transactions_this_month"><a href="/transactions_this_month">Transactions</a></button>
            <button class="nav_button" method=""><a href="">Statistics</a></button>
            <!-- <button class="nav_button" action="">Income</button>
            <button class="nav_button" action="">Expenses</button> -->
            <button class="nav_button" method="/predict_expense"><a href="/predict_expense">Predict Expenses</a></button>
        </nav>
        
    </header>
    <br><br>
    
    <h1>Statistics</h1>
    <br>
    <div class="stat_main">
        <div class="buttons_container">
            <button class="stat_btn">Income</button>
            <button class="stat_btn">Expenses</button>
            <button class="stat_btn">Income & Expenses</button>
            <button class="stat_btn">Category-wise distribution</button>
        </div>
        <div class="stat_graph">
            <img src="/stat.png" alt="no img">
        </div>
    </div>
    
</body>
</html>