<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
    <link rel="stylesheet" href="static\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <button class="nav_button" method="/home"><a href="/home">Home</a></button>
            <button class="nav_button" method="/index"><a href="/index">Add Transaction</a></button>
            <button class="nav_button" method="/transactions_this_month"><a href="/transactions_this_month">Transactions</a></button>
            <button class="nav_button" method="/statistics"><a href="/statistics">Statistics</a></button>
            <!-- <button class="nav_button" action="">Income</button>
            <button class="nav_button" action="">Expenses</button> -->
            <button class="nav_button" method="/predict_expense"><a href="/predict_expense">Predict Expenses</a></button>
        </nav>
        
    </header>
    <br><br>
    
    <h1>Statistics</h1>
    <br>
    <center>
        
    </center>
</body>
</html>