<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Signika:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h3 class="nav_title">Your Finance Manager</h3>
        <nav>
            <button class="nav_button" method="/home"><a href="/home">Home</a></button>
            <button class="nav_button" method="/index"><a href="/index">Add Transaction</a></button>
            <button class="nav_button" method=""><a href="">Dashboard</a></button>
            <button class="nav_button" method="/statistics"><a href="/statistics">Statistics</a></button>
            <button class="nav_button" method="/predict_expense"><a href="/predict_expense">Predict Expenses</a></button>
            <button class="nav_button" method="/tools"><a href="/tools">Tools</a></button>
            <button class="nav_button" method="/logout"><a href="/logout">Logout</a></button>
        </nav>
        
    </header>
    <br><br><br>
    <div class="container">
        <div class="box">
            <h2>Income</h2>
            <h2 class="income">₹{{income_amount_month}}</h2>
        </div>
        <div class="box">
            <h2>Expenses</h2>
            <h2 class="expenses">₹{{expense_amount_month}}</h2>
        </div>
        <div class="box">
            <h2>Total Balance</h2>
            <h2 class="t_balance">₹{{total_balance_month}}</h2>
        </div>
    </div>
    <br>
    <center>

        {% if expense_amount_month > predicted_month_expense %}
            <br>
            <div class="alert">
            **Warning!** Current monthly expense exceeded the predicted monthly expense by ₹{{expense_amount_month - predicted_month_expense}}.
            </div>
        {% endif %}

        <br><br>
        <h1>List of Transactions in this month</h1>
        <br>
    
        <div class="trans_box">
            <table border="1" class="avg_table" style="width:70%">
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Note</th>
                </tr>
                {% for transaction in transactions_month %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.type }}</td>
                    {% if transaction.type == 'Expense' %}
                        <td style="color: red">
                    {% else %}
                        <td style="color: green">
                    {% endif %}

                    {{ transaction.amount }}
                    </td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.note }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>



        <br><br>
        <h1>List of all Transactions</h1>
        <br>
    
        <div class="trans_box">
            <table border="1" class="avg_table" style="width:70%">
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Note</th>
                </tr>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.type }}</td>
                    {% if transaction.type == 'Expense' %}
                        <td style="color: red">
                    {% else %}
                        <td style="color: green">
                    {% endif %}

                    {{ transaction.amount }}
                    </td>
                    <td>{{ transaction.category }}</td>
                    <td>{{ transaction.note }}</td>
                </tr>
                {% endfor %}
            </table>
            <!-- {{transactions}} -->
        </div>
    </center>
</body>
</html>